services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - '5672:5672'
      - '15672:15672'

  redis:
    image: redis:7
    ports:
      - '6379:6379'

  locust:
    image: python:3.11-slim
    depends_on:
      - db
      - rabbitmq
      - redis
    working_dir: /app
    volumes:
      - ./:/app
    command: sh -c "pip install -r requirements.txt && locust -f locustfile.py --master --web-host 0.0.0.0"
    ports:
      - '8089:8089'

  worker:
    image: python:3.11-slim
    depends_on:
      - locust
    working_dir: /app
    volumes:
      - ./:/app
    command: sh -c "pip install -r requirements.txt && locust -f locustfile.py --worker --master-host locust"

volumes:
  db-data:
